@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
